<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.angryfood.dao.ComboBaseInfoMapper">
    <update id="updateCombo">
        update combo_base_info
        set name=#{name},
            price=#{price},
            store_id=#{storeId}
        where id = #{id}
    </update>
</mapper>